# system files
*.DS_Store
._*

# MATLAB
*.m~
*.asv
*.mat
.*~

# data/log/remote jobs
*.swo
*.swp
*.pbs
*.fits
result*
real_data_dr/logs

# project directories
main_fouRed/WB_new
irt*
test*
figs*
logs*

# docs
docs/_*

# editor
.vscode*

*.err
*.txt
*.out

abd_hypersara2
*local_cluster_jobs*
*pref_*
*dr_reweight*/
data/dr
